@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
    
@import url('https://fonts.googleapis.com/css2?family=HVD+Comic+Serif+Pro:wght@400;700&display=swap');

    body {
    font-family: 'Quicksand', sans-serif;
    font-size: 14pt;
    margin: 0; /* Reset margin to ensure full coverage */
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    background: #1F3235;
    color: #FAF5E9;
    font-weight: 600;
    
    
}
    
    #question, #timer, #result, #recordedAnswer, #checkResult, #next {
        display: none;
    }
    
    .button {
  background-color: #009B4D;
  border: 0; 
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'HVD Comic Serif Pro', sans-serif;
  font-size: 18px;
  font-weight: 400;
  outline: 0;
  padding-top: 20px;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display: block;
  margin: 40px auto;
}

.button:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 10%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 80%;
}

.button:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

 h1 {
            font-family: 'HVD Comic Serif Pro', sans-serif;
            font-size: 30pt;
            font-weight: 800;
            color: #FAF5E9;
            line-height: 1;
	    	padding-bottom: 10px;
            padding-top: 10px;
        }
        
h2 {
            font-family: 'Quicksand';
            font-size: 24pt;
            font-weight: 800;
            color: #FFCC00;
            padding-bottom: 10px;
            margin-left: 40px;
            margin-right: 40px;
            line-height: 1;
        }
        
h3 {
            font-family: 'HVD Comic Serif Pro', sans-serif;
            font-size: 13pt;
            font-weight: 800;
            color: #FFCC00; 
            margin-left: 40px;
            margin-right: 40px;
            padding-top: 20px;
            line-height: 1;
        }
        
 h4 {
            font-family: 'Quicksand';
            font-size: 16pt;
            font-weight: 800;
            color: #FAF5E9; 
            margin-left: 40px;
            margin-right: 40px;
            margin-top: 10px;
            line-height: 1;
        }

h5 { font-family: 'Quicksand';
            font-size: 12pt;
            font-weight: 800;
            color: #FAF5E9; 
            padding-bottom: 10px;
            margin-left: 40px;
            margin-right: 40px;
            line-height: 1;
        }
        

.question-image {
    border-radius: 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border: 2px solid #009B4D;
}

.footer-section {
            padding-top: 25px;
	    	padding-bottom: 25px;
	   		 padding-left: 10px;
            padding-left: 10px;
            color: #FAF5E9;
            font-size: 8pt;
            text-align: center;
	    line-height: 1.5;
	margin-top: 20px;
        }

.speak-icon {
  	  width: 16px; /* Adjust the width as needed */
   	  height: auto;
  	  margin-left: 10px; /* Space between text and icon */
  	  vertical-align: middle; /* Align icon vertically with text */
	}
                
